.grid_container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 2px;
    background-color: #2196F3;
    padding: 10px;
    
    
  
      grid-template-rows: 100px 500px;
  }
  
  .grid_container > div {
    background-color: rgba(24, 23, 23, 0.123);
    text-align: center;

    font-size: 30px;
  }
  
  .item1 {
    grid-column: 1 / 2;
  }
  .item2 {
    grid-column: 2 / 7;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
  }
  .item3 {
    grid-column: 1 / 7;
  }


  .id{

    height: 20px;


  }

  .input{
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-left: 5px solid rgb(43, 255, 0);
    border-bottom: 1px solid rgb(43, 255, 0);
    outline: none;
  }

  .box {
    position: absolute;
    cursor: move;
    color: rgb(255, 0, 0);
    max-width: 215px;
    border-radius: 5px;
    padding: 1em;
    margin: auto;
    user-select: none;



  }


  .li{
    list-style-type: none;
    margin: 2px 0px 2px 0px;
    padding: 0;
    display: flex;
    width: fit-content;
  }