.grid_container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 2px;
    background-color: #2196F3;
    padding: 10px;
    
    
  
      grid-template-rows: 100px 500px;
  }
  
  .grid_container > div {
 
    text-align: center;

    font-size: 30px;
  }
  
  .item1 {
    grid-column: 1 / 7;
  }
  .item2 {
    grid-column: 1 / 7;
  }


  .glass{
    padding: 10px;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border: 1px solid rgba(255, 255, 255, 0.17);



    display: flex;
  }