
.spread_a {

    display: grid;
    grid-gap: 2px;
    background-color: #d6d30f;
    min-width: -moz-fit-content;
    min-width: fit-content;
    grid-template-columns: 100px 3fr;
    grid-template-rows: 40px;
    margin: 20px 0px 20px 0px;
  
}
